@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&display=swap');

body {
  font-family: Arial, sans-serif;
  background-image: url(3.png);
  margin-top: 100px;
}

.calculator {
  background-color:#002147;
  width: 350px; /* Increased width */
  margin: 50px auto;
  padding: 40px; /* Increased padding */
  outline: 10px solid #87cefa;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 10px rgba(19, 82, 24, 0.1);
}

#display {
  font-family: "Fredoka", sans-serif;
  word-wrap: break-word;
  background-color:#f0ffff;
  width: 90%;
  height: 50px; /* Increased height */
  font-size: 26px; /* Slightly larger font */
  justify-content: center;
  border: none;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0.5, 0, 0.5, 0.1);

  /* overflow-wrap:break-word; */
}

.buttons {
  display: flex;
  flex-wrap: wrap; /* Allows buttons to wrap if there's not enough space */
  justify-content: space-around; /* Centers buttons with equal space between */
  margin-top: 20px;

}

.button {
  font-family: "Fredoka", sans-serif;
  width: 70px; /* Increased width */
  height: 50px; /* Increased height */
  font-size: 20px; /* Increased font size */
  margin: 5px;
  border: none;
  border-radius: 10px;
  background-color: #87cefa;
  cursor: pointer;
}

.button:hover {
  background-color: #4682b4;
}

.buttons {
  display: flex;
  flex-wrap: wrap; /* Allows buttons to wrap if there's not enough space */
  justify-content: space-around; /* Centers buttons with equal space between */
  margin-top: 20px;
}

#AC,#hello,#bye {
  font-family: "Fredoka", sans-serif;
  width: 80px;
  height: 60px;
  margin-bottom: 25px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


#AC:hover,#hello:hover,#bye:hover {
  background-color: #4682b4;
}

.highlight {
  background-color:#92a1cf; /* Change to your preferred highlight color */
  border: 2px solid #545aa7; /* Optional: you can customize this */
}
#add,#equals,#decimal,#backspace,#divide,#multiply,#subtract{
  background-color: #9517f1;
}
