@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&display=swap');

body {
  font-family: Arial, sans-serif;
  background-image: url(2.png);
  margin-top: 100px;
  background-position: relative;
  background-size:cover;
}

.calculator {
  background-color:#bda5f4;
  width: 350px;
  margin: 50px auto;
  padding: 40px;
  outline: 10px solid #87cefa;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 10px rgba(19, 82, 24, 0.1);
}

#display {
  font-family: "Fredoka", sans-serif;
  word-wrap: break-word;
  background-color:#f0ffff;
  width: 90%;
  height: 50px;
  font-size: 26px;
  justify-content: center;
  border: none;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0.5, 0, 0.5, 0.1);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  box-shadow: 10px rgba(210, 196, 210,196)

}

.button {
  font-family: "Fredoka", sans-serif;
  width: 70px;
  height: 50px;
  font-size: 20px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background-color: #fde9b7;
  cursor: pointer;
  outline: #f0ffff solid 2px;
  box-shadow: #3e3b32 0 0 10px;
}

.button:hover {
  background-color: #fff;
}

#AC,#hello,#bye {
  font-family: "Fredoka", sans-serif;
  width: 80px;
  height: 60px;
  margin-bottom: 25px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color:#685caa;
  outline: #d0bbee solid 2px;
  box-shadow: #615867 0 0 10px;
}


#AC:hover,#hello:hover,#bye:hover {
  background-color: #fff;
}

.highlight {
  background-color:#92a1cf;
  border: 2px solid #545aa7;
}
#add,#equals,#decimal,#backspace,#divide,#multiply,#subtract{
  background-color:#a883ec;
  outline: 2px solid #685caa;
  box-shadow: #614a73 0 0 10px;
}
#add:hover,#equals:hover,#decimal:hover,#backspace:hover,#divide:hover,#multiply:hover,#subtract:hover {
  background-color: #fff;
}